html
  head
    style.
      .wrapper{
      padding:0;
      width:70%;
      }
      .wrapper .logo{
      text-align:left;
      font-weight:bold;
      }
      .wrapper .linkButton a{
      padding:10px 60px;
      background:#426d9c;
      border:none;
      text-decoration:none;
      cursor:pointer;
      color:white;
      margin-bottom:20px;
      border-radius:8px;
      }
      p{
      text-decoration:none;
      }
  |   
  body
    .wrapper
      .logo
        img(src='https://themadbrains.com/assets/img/logo.png')
      | &#x9;
      p #{data.greet}
      | &#x9;
      p
        | Please clicking the button below to forget password.
      | &#x9;
      .linkButton
        br
        | &#x9;
        a(href='#{data.hostName}/#{data.forgetpasswordUrl}') Forget Password
        | &#x9;
        br
        br
